h1 {
	text-align: center;
	font-family: "Afta Serif";
	color: #444444;
	font-size: 95pt;
	margin: 4vh;
}
p {
	text-align: center;
	font-family: "Futura (Light)";
	color: #444444;
	font-size: 18pt;
	margin-bottom: 0;
}
button {
	font-family: "FuturaExtended";
	font-size: 36pt;
	border-radius: 12px;
	border: none;
	padding: 5px 16px 5px 16px;
	margin: 3px;
	background-color: rgba(94, 58, 122, 0.73);
	color: white;
}
button:hover {
	background-color: rgb(94, 58, 122);
}
button:active {
	background-color: rgb(69, 1, 83);
	border: none;
}
#link-container {
	padding-left: 34vw;
}
