<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<script src="../scripts/timer.js" charset="utf-8"></script>
	<script src="../scripts/collatz.js" charset="utf-8"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<title>3n + 1</title>
</head>
<body>
	<div id="collatz-content" class="content">
		<div id="collatz-header">
			<h1>The Collatz Conjecture (or Hailstone Sequence)</h1>
			<p>Start with any number, n. If it is even, set it to n/2. If it is odd, set it to 3n + 1. Repeat this process forever. The conjecture states that no matter which n you start with, it will eventually reach 1. This conjecture has been described as extremely difficult to prove and beyond the reach of current mathematics.</p>
			<p class="math">Collatz(n) = { n/2 for n%2 = 1; 3n + 1 for n%2 = 1;</p>
			<p>All numbers (so far) lead to one.</p>

			<!-- http://www.mathblog.dk/files/2012/04/uva100header.png -->
			<img src="../img/hailstone-web.png" alt="">
		</div>
		<div id="collatz-calculator">
			<h2>3n + 1 Calculator</h2>
			<p>Below is the number of times this function has to be repeated in order to get 1.</p>
			<p id="collatz-iters">Iterations : --</p>
			<input type="number" id="collatz-in" min="1" max="Number.MAX_SAFE_INTEGER" step="1" placeholder="Starting Number">
			<input type="button" value="Calculate Sequence" onclick="execHail()">
			<p id="collatz-out"></p>
			<p id="collatz-time"></p>
		</div>
	</div>
	<footer>
		<a href="../index.html">Back to Home</a>
	</footer>
</body>
</html>
