<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<script src="../scripts/timer.js" charset="utf-8"></script>
	<script src="../scripts/fib.js" charset="utf-8"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<title>The Fibonacci Sequence</title>
</head>
<body>
	<div id="fib-header">
		<h1>The Fibonacci Sequence</h1>
		<p>Each number in the sequence is the sum of the two previous numbers in the sequence.</p>
		<p class="math-text">Fib<sub>n</sub> = Fib<sub>n-1</sub> + Fib<sub>n-2</sub></p>
		<img src="../img/fib-diagram.png" alt="">
	</div>
	<div id="fib-content" class="content">
		<table id="tbl-fib">
			<tr id="fib-headings">
				<th>Fibonacci Generator</th>
				<th>Fibonacci Calculator</th>
			</tr>
			<tr id="row-fib-pos">
				<td id="fib-pos">Current Position : 0</td>
				<td id="cfib-pos">
					<input type="number" id="num-fib" placeholder="Position">
				</td>
			</tr>
			<tr id="row-fib-btn">
				<td>
					<input type="button" id="btn-fib" value="Generate Fibonacci Number" onclick="execFib()"/>
				</td>
				<td>
					<input type="button" id="btn-cfib" value="Generate Custom Fibonacci Number" onclick="execCustomFib()"/>
				</td>
			</tr>
			<tr id="row-fib-out">
				<td id="fib-out"></td>
				<td id="cfib-out"></td>
			</tr>
			<tr id="row-fib-time">
				<td id="fib-time"></td>
				<td id="cfib-time"></td>
			</tr>
		</table>
	</div>
	<footer>
		<a href="../index.html">Back to Home</a>
	</footer>
</body>
</html>
