<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<script src="../scripts/timer.js" charset="utf-8"></script>
	<script src="../scripts/sqr.js" charset="utf-8"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<link rel="stylesheet" href="../css/sub.css">
	<title>Squares</title>
</head>
<body>
	<div id="sqr-header">
		<h1>The Square Numbers</h1>
		<p>Each square number is its input multiplied by itself, or in other words, itself to the power of 2.</p>
		<p class="math">Square(n) = n &middot; n OR n<sup>2</sup></p>
		<p>The numbers are called "squares" because if you treat the input as the length of a line, the output is the area of a square with that line length.</p>
		<!-- original creation -->
		<img src="http://i.imgur.com/p043gqi.png" alt="" height="400px">
	</div>
	<div id="sqr-content" class="row">
		<div id="sqr-gen" class="left">
			<h2>Square Generator</h2>
			<p id="sqr-pos">Current Position : 0</p>
			<input type="button" id="btn-sqr" value="Generate Square" onclick="execSqr()"/><br>
			<p id="sqr-out">n<sup>2</sup> = x</p>
			<p id="sqr-time">Completion Time</p>
		</div>
		<!-- <div class="center"><p></p></div> -->
		<div id="sqr-calc" class="right">
			<h2>Square Calculator</h2>
			<input type="number" id="num-sqr" min="Number.MIN_SAFE_INTEGER" max="Number.MAX_SAFE_INTEGER"  placeholder="Base">
			<p id="csqr-pos"></p>
			<input type="button" id="btn-csqr" value="Calculate Square" onclick="execCustomSqr()"/>
			<p id="csqr-out">n<sup>2</sup> = x</p>
			<p id="csqr-time">Completion Time</p>
		</div>
	</div>
	<div class="row">
		<footer>
			<a href="../index.html">Back to Home</a>
		</footer>
	</div>
</body>
</html>
